.body {
    position: relative;
    background-color: green;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#timer {
    position: absolute;
    bottom: 25px;
    center: 25px;
    font-weight: bold;

}

.question {
    font-family: fantasy;
    font-size: 30px;
    text-align: center;
}

.btn {
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
    justify-content: center;
    align-items: center; 
}


.btn-grid {
    display: grid;
    padding: 5px;
    gap: 1em;
    margin: 1em;
}


.hide {
    display: none;
}


.submit {
    color: black;
}

.container {
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 600px;
    max-width: 80%;
    height: 400px;
    border-radius: 5px;
    margin: 2em;
    box-shadow: 0px 0px 10px grey;
    background-color: teal;
    padding: 5px;
}